body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif; }

.banner .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 23%;
  top: 35%; }

.banner .text p {
  color: white;
  font-size: 2.7rem;
  margin: 0;
  text-align: center; }

.banner .text p span {
  color: #E31B6D;
  font-weight: bold; }

.banner .text a {
  width: 200px;
  background-color: transparent;
  color: white;
  font-size: 1.3rem;
  border-radius: 0px;
  border: 2px solid; }

.banner img {
  height: 100vh;
  width: 100%;
  max-width: 100%; }

.mynavbar {
  text-transform: uppercase;
  border-bottom: 3px solid #04C2C9; }

.mynavbar .navbar-nav {
  margin-left: 50px; }

.mynavbar a {
  margin: 0 15px; }

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120vh; }

.about .col-lg-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  justify-content: center; }

.about .col-lg-6 img {
  width: 50%;
  border-radius: 50%; }

.about .col-lg-6 h1 {
  margin: 20px auto;
  color: #616161;
  font-size: 1.7rem;
  font-weight: bold; }

.about .col-lg-6 .progress {
  margin: 20px 0;
  text-transform: uppercase; }

.about .col-lg-6 .progress div {
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  font-size: 1rem; }

.portfolio {
  background: #f1f1f1;
  height: 100vh; }

.portfolio h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #444649;
  padding: 80px 0; }

.portfolio img {
  height: 230px; }

.contato {
  height: 110vh;
  background: #1d232bf1;
  color: white;
  padding: 100px 0; }
  .contato .button {
    display: flex;
    justify-content: flex-end; }

.contato h1 {
  font-weight: bold;
  text-align: center; }

.contato p {
  color: #04C2C9;
  font-weight: bold;
  text-align: center; }

.contato .container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contato .container .form-contact {
  width: 40%; }

.contato .container .form-contact .form-group {
  margin: 0; }

.contato .container .form-contact .form-group .form-control {
  background: #212529;
  border: none; }

.contato .container button {
  background: transparent;
  color: white;
  border: 2px solid white;
  text-transform: uppercase;
  border-radius: 0px;
  margin: 10px 0;
  padding: 10px 20px; }

.footer {
  height: 35vh;
  background: #212529; }

.footer .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.footer .social-media img {
  width: 50px;
  margin: 0 15px; }

.error {
  color: #04C2C9; }

.form-control::-webkit-input-placeholder {
  color: white; }

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
  color: white; }

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
  color: white; }

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
  color: white; }

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
  color: white; }

/* Microsoft Edge */
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
