.about {
    @include flex(flex, row, center);
    margin: 100px 0;
    .col-lg-6 {
      @include flex(flex, column, center);
      text-align: center;
      padding: 20px;
      justify-content: center;
      img {
        width: 50%;
        border-radius: 50%;
      }
      h1 {
        margin: 20px auto;
        color: #616161;
        font-size: 1.7rem;
        font-weight: bold;
      }
      .progress {
        margin: 20px 0;
        text-transform: uppercase;
        div {
          text-align: left;
          padding-left: 20px;
          font-weight: bold;
          font-size: 1rem;
        }
      }
    }
    .container {
      span {
        color: #E31B6D;
        font-weight: bold;
      }
    }
  }