body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

/* BANNER */ 
.banner {
  @include flex(flex, column, center);
  justify-content: center;
  .text {
    @include flex(flex, column, center);
    p {
      color: white;
      font-size: 2.7rem;
      margin: 0;
      text-align: center;
      span {
        color: #E31B6D;
        font-weight: bold;
      }
    }
    a {
      width: 200px;
      background-color: transparent;
      color: white;
      font-size: 1.3rem;
      border-radius: 0px;
      border: 2px solid;
    }
  }
  img {
    height: 100vh;
    width: 100%;
    max-width: 100%;
  }
}

/* NAV BAR */
  .navbar {
    background-color: #343a40;
    text-transform: uppercase;
  }
  .navbar-nav {
    margin-left: 50px;
  }
  a {
    margin: 0 15px;
    color: white;
  }

/* SECTION SOBRE */
.about {
  @include flex(flex, row, center);
  margin: 100px 0;
  .col-lg-6 {
    @include flex(flex, column, center);
    text-align: center;
    padding: 20px;
    justify-content: center;
    img {
      width: 50%;
      border-radius: 50%;
    }
    h1 {
      margin: 20px auto;
      color: #616161;
      font-size: 1.7rem;
      font-weight: bold;
    }
    .progress {
      margin: 20px 0;
      text-transform: uppercase;
      div {
        text-align: left;
        padding-left: 20px;
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }
  .container {
    span {
      color: #E31B6D;
      font-weight: bold;
    }
  }
}

/* SECTION PORTFOLIO */

.portfolio {
  background: #f1f1f1;
  padding: 120px 0 200px 0;
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #444649;
    padding-bottom: 50px; 
  }
  img {
    height: 230px;
    filter: grayscale(50%);
  }
  .card-hover {
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    border: 2px solid;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    p {
      font-size: 1.5rem;
      color: white;
      text-transform: uppercase;
    }
    a {
      font-size: 2rem;
      border: 2px solid;
      border-radius: 50%;
      width: 52px;
      text-align: center;
      text-decoration: none;
    }
    &:hover{
      opacity: 1;
    }
  }
}

/* SECTION CONTATO */
.contato {
  height: 110vh;
  background: #1d232bf1;
  color: white;
  padding: 100px 0; 
  .button {
    display: flex;
    justify-content: flex-end;
  }
  h1 {
    font-weight: bold;
    text-align: center;
  }
  p {
    color: #04C2C9;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
  }
  .container {
    @include flex(flex, column, center);
    .form-contact {
      width: 40%;
      @media (max-width: 420px) {
        width: 80%;
      }
      @media (max-width: 420px) {
        width: 60%;
      }
      .form-group {
        margin: 0;
        .form-control {
          background: #212529;
          border: none;
        }
      }
    }
    button {
      background: transparent;
      color: white;
      border: 1px solid white;
      text-transform: uppercase;
      margin: 10px 0;
      padding: 5px 20px;
    }
  }
}

/* FOOTER */
.footer {
  height: 35vh;
  background: #212529;
  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    img {
      width: 50px;
      margin: 0 15px;
    }
  }
}

.error {
  color: #04C2C9;
}

.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */