.portfolio {
    background: #f1f1f1;
    padding: 120px 0;
    h1 {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      color: #444649;
      padding-bottom: 50px; 
    }
    img {
      width: 100%;
      height: 250px;
      // filter: grayscale(50%);
    }
    .card-hover {
      opacity: 0;
      transition: 0.3s;
      position: absolute;
      border: 2px solid;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.8);
      p {
        font-size: 1.5rem;
        color: white;
        text-transform: uppercase;
      }
      a {
        font-size: 2rem;
        border: 2px solid;
        border-radius: 50%;
        width: 52px;
        text-align: center;
        text-decoration: none;
      }
      &:hover{
        opacity: 1;
      }
    }
  }